<div
  style="
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
  "
>
  <div
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <div>
      <h1 style="color: #333">Invoice</h1>
      <p><strong>Invoice Number:</strong> {{invoice_number}}</p>
      <p><strong>Issue Date:</strong> {{issue_date}}</p>
      <p><strong>Due Date:</strong> {{due_date}}</p>
    </div>
    <div>
      <img
        src="https://public-bucket-unipath.s3.us-east-2.amazonaws.com/output-onlinepngtools-2.png"
        alt="Company Logo"
        style="max-width: 200px"
      />
    </div>
  </div>
  <hr style="margin-top: 20px; border-top: 1px solid #ccc" />
  <div style="display: flex; justify-content: space-between; margin-top: 20px">
    <div>
      <h2 style="color: #333">Bill To:</h2>
      <p>{{customer_name}}</p>
      <p>{{customer_address}}</p>
    </div>
    <div>
      <h2 style="color: #333">Ship To:</h2>
      <p>{{supplier_name}}</p>
      <p>{{supplier_address}}</p>
    </div>
  </div>
  <table style="width: 100%; border-collapse: collapse; margin-top: 20px">
    <thead>
      <tr>
        <th
          style="text-align: left; border-bottom: 2px solid #ccc; padding: 8px"
        >
          Name
        </th>
        <th
          style="text-align: left; border-bottom: 2px solid #ccc; padding: 8px"
        >
          Quantity
        </th>
        <th
          style="text-align: left; border-bottom: 2px solid #ccc; padding: 8px"
        >
          Price
        </th>
        <th
          style="text-align: left; border-bottom: 2px solid #ccc; padding: 8px"
        >
          Total
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- Single line item from data -->
      {{line_items}}
    </tbody>
  </table>
  <div style="display: flex; justify-content: flex-end; margin-top: 20px">
    <div style="text-align: right">
      <p><strong>Subtotal:</strong> {{subtotal}}</p>
      <p><strong>Tax:</strong> {{tax}}</p>
      <p><strong>Total:</strong> {{total}}</p>
    </div>
  </div>
  <div style="margin-top: 20px">
    <p><strong>Payment Terms:</strong> {{payment_terms}}</p>
    <p><strong>Purchase Order Number:</strong> {{purchase_order_number}}</p>
    <p><strong>Shipping Details:</strong> {{shipping_details}}</p>
    <p><strong>Bank Details:</strong> {{bank_details}}</p>
    <p><strong>Regulatory Information:</strong> {{regulatory_information}}</p>
    <p><strong>Notes:</strong> {{notes}}</p>
  </div>
</div>
